
.body{
    background-color: rgb(121, 161, 204);
}

h1{
    color: white;
}



.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heart {
    color: red;
    font-size: 50px;
    animation: heart-pulse 2s infinite ease-out;
}

.pulse{
    animation: pulse 3s infinite ;
}
  
.master{
    color:white;
    font-weight: bold;
    float:right;
}

.logo{
    width: 50px;
}


/*NAVBAR*/

.navbar{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav a.navbar-link{
    color: black;
    letter-spacing: 1px;
}

.navegation-button{
    background-color: rgb(27, 219, 129);
    width:100px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    box-shadow: 0px 0px 5px 1px rgb(64, 165, 224);
}

.navegation-button:hover{
    background-color: rgb(0, 119, 255);
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
}

#btn-exit{
    background-color: red;
    color: white;
    border-radius: 5px;
    border:none;
}

#btn-create-account{
    margin-left: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border:none;
}

/* next page acounts */

.box-creat-task{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: rgb(19, 200, 255);
    border: none;
}

#btn-idea{
    background-color: transparent;
}

.fas.fa-search{
    position: absolute;
    top: 12px;
    right: 26px;
}

.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.list-div{
    padding: 0;
}

li{
    padding: 5px;
    font-weight: bold;
}



.task-list{
    padding-left: 0;
}

.task-item{
    margin-top: 5px;
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: white;
}

.fas.fa-trash, .fas.fa-edit{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float:right;
}

.fas.fa-trash{
    color: red;
}

.fas.fa-edit{
    color: green;
}

.options-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.button-modal-yes{
    width: 100px;
    margin: 10px;
    outline: none;
    background-color: rgb(0, 216, 83);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px grey;
    border: none;
}

.button-modal-yes:hover{
    background-color: white;
    color: rgb(0, 216, 83);
    transform: scale(1.1);
    transition: 0.5s;
}

.button-modal-no{
    width: 100px;
    margin: 10px;
    outline: none;
    background-color: rgb(255, 0, 76);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px grey;
    border: none;
}

.button-modal-no:hover{
    background-color: white;
    color: rgb(255, 0, 76);
    transform: scale(1.1);
    transition: 0.5s;
}

/* NEXT PAGE login*/

.box-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;    
}

.input-login{
    margin-top: 10px;
    width: 400px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

/* ativar verificarção de robo */

/* .g-recaptcha{
    margin-top: 10px;
} */

.button-login{
    width: 100px;
    margin: 10px;
    outline: none;
    background-color: white;
    color: rgb(0, 119, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px grey;
    border: none;
}

.button-login:hover{
    background-color: rgb(0, 119, 255);
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
}

/* next page register*/

.box-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-register{
    width: 400px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.input-register-together{
    width: 310px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.input-register-uf{
    width: 85px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

#sex{
    width: 400px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.input-register-date{
    width: 400px;
    margin-top: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 3px;

}

.button-register-submit{
    width: 100px;
    margin: 10px;
    outline: none;
    background-color: white;
    color: rgb(0, 119, 255);
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px 1px grey;
}

.button-register-submit:hover{
    background-color: rgb(0, 119, 255);
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
}

/* footer */

.footer{
    margin-top:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 219, 129);
   
    width: 100%;
}

.footer p{
    color: rgb(255, 255, 255);  
}


@keyframes heart-pulse {
    0% {
        transform: scale(0.20);
    }
    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0.20);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.90);
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

