{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Account {% endblock %}

{% block content %}
    <div class="">
        
        <div class="box-login">
            <h1>LOGIN</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" id="input" name="next">
                <input type="password" id="input" name="next">
                
                {{ form|crispy }}
                <button type="submit" class="button-submit-login">ENTER</button>

            </form>
            <button class="button-login" type="submit">ENTER</button>
        </div>
    </div>
 
{% endblock %}

