{% extends 'base.html' %}

{% block title %} register {% endblock %}

{% block content %}

    <div class="box-login">
        <h1>LOGIN</h1>
        <input class="input-login" type="text" placeholder="USERNAME">
        <input class="input-login" type="password" placeholder="PASSWORD">
        <!-- verificação de robo <div class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div> -->
        <button class="button-login" type="submit">ENTER</button>
    </div>
   
{% endblock %}