{% extends 'base.html' %}

{% block title %} INFO USER {% endblock %}

{% block content %}

    <div id="box-idea">
        <img  class="img-item" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgUNaoFwOOa3sOnMoc8CVUJ65bhS822etxVQ&usqp=CAU" alt="">
        <h1 class="info-item">Name: {{user.name}}</h1>
        <p class="info-item">E-mail: {{user.email}}</p>
        <p class="info-item"> Phone: {{user.phone}}</p>
    </div>
    <style>
        .box-idea{
            background-color: white;
        }
    </style>
   
{% endblock %}
   
   